/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";



/* Global Styles */

html,
body,
#root{
    min-height:100%;
}

body{
    font-family:"Inter",sans-serif;
    background:linear-gradient(
        135deg,
        #f8fafc 0%,
        #eff6ff 50%,
        #ecfeff 100%
    );
}